
@media(max-width: 768px){
    .small-view {
	    display: none;
	  }
}

@media(max-width: 550px){
	.description{
		display: none;
	}
}
.main-container{
	background-color: white;
}

.hr-row:hover {
	background-color: lightgrey !important;
	cursor: pointer;
}

html, body{
	background-color: #E1E3E4;
	height: 100%;
}

.nav-list{
	border-style: solid;
	border-width: 1px;
	border-color: #D2D6D5;
	height: 66px;
    line-height: 67px;
    font-size: 14px;
    text-transform: uppercase;
	display: flex;
	justify-content: center
}

.nav-list-container {
	padding-left: 0;
	padding-right: 0;
}

.menu {
    padding: 0;
}

.menu li {
    display: inline;
	}

.menu li a:hover {
  background-color: #F1F3F4;
  cursor: pointer;
  border-style: solid;
}

.menu li a {
    background-color: #E1E3E4;
	border-style: solid;
	border-width: 2px;
	border-color: lightgray;
    color: black;
    padding: 24px 20px;
    text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.prev-profile-img {
	width: 110px;
    height: 110px;
    margin-right: 15px;
    margin-top: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    border-width: 2px;
    border-style: solid;
    border-color: #BFBFBF;
}

.prev-user-name{
	white-space: nowrap;
}

.prev-description {
	width: 45%;
	padding-left: 25px;
}

.prev-group {
	display: inline-flex;
    justify-content: center;
    width: 100%;
}

