<div class="trelo-scroll">
<div class="trello-container">
 
 <div class="panel panel-primary trello-panel">
      <div class="panel-heading">Group 2</div>
      <div class="panel-body">
      	<div ng-repeat="x in Users| filter : { GroupId : 2}">
      		<div class="tile-container">
      			<span class="tile-title">{{x.Name}}</span>
      			<div class="tile-group">
      				<img src="/img/nobody_m.original.jpg" class="trello-image-profile">
      				<div class="tile-items">
      				<div >
      					<span class="tile-mail">{{x.Mail}}</span>
      				</div>
      				<div>
      					<span>{{x.Department}}</span>
      				</div>
      				</div>
      				
      			</div>
      		</div>
      		
      	</div>
      </div>
    </div>

<div class="panel panel-primary trello-panel">
      <div class="panel-heading">Group 3</div>
      <div class="panel-body">
      	<div ng-repeat="x in Users| filter : { GroupId : 3}">
      		<div class="tile-container">
      			<span class="tile-title">{{x.Name}}</span>
      			<div class="tile-group">
      				<img src="/img/nobody_m.original.jpg" class="trello-image-profile">
      				<div class="tile-items">
      				<div >
      					<span class="tile-mail">{{x.Mail}}</span>
      				</div>
      				<div>
      					<span>{{x.Department}}</span>
      				</div>
      				</div>
      				
      			</div>
      		</div>
      		
      	</div>
      </div>
    </div>

    <div class="panel panel-primary trello-panel">
      <div class="panel-heading">Group 1</div>
      <div class="panel-body">
      	<div ng-repeat="x in Users| filter : { GroupId : 1}">
      		<div class="tile-container">
      			<span class="tile-title">{{x.Name}}</span>
      			<div class="tile-group">
      				<img src="/img/nobody_m.original.jpg" class="trello-image-profile">
      				<div class="tile-items">
      				<div >
      					<span class="tile-mail">{{x.Mail}}</span>
      				</div>
      				<div>
      					<span>{{x.Department}}</span>
      				</div>
      				</div>
      				
      			</div>
      		</div>
      		
      	</div>
      </div>
    </div>

    <div class="panel panel-primary trello-panel">
      <div class="panel-heading">Group 4</div>
      <div class="panel-body">
      	<div ng-repeat="x in Users| filter : { GroupId : 4}">
      		<div class="tile-container">
      			<span class="tile-title">{{x.Name}}</span>
      			<div class="tile-group">
      				<img src="/img/nobody_m.original.jpg" class="trello-image-profile">
      				<div class="tile-items">
      				<div >
      					<span class="tile-mail">{{x.Mail}}</span>
      				</div>
      				<div>
      					<span>{{x.Department}}</span>
      				</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
    </div>

    <div class="panel panel-primary trello-panel">
      <div class="panel-heading">Group 5</div>
      <div class="panel-body">
      	<div ng-repeat="x in Users| filter : { GroupId : 5}">
      		<div class="tile-container">
      			<span class="tile-title">{{x.Name}}</span>
      			<div class="tile-group">
      				<img src="/img/nobody_m.original.jpg" class="trello-image-profile">
      				<div class="tile-items">
      				<div >
      					<span class="tile-mail">{{x.Mail}}</span>
      				</div>
      				<div>
      					<span>{{x.Department}}</span>
      				</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
    </div>

    <div class="panel panel-primary trello-panel">
      <div class="panel-heading">Group 6</div>
      <div class="panel-body">
      	<div ng-repeat="x in Users| filter : { GroupId : 6}">
      		<div class="tile-container">
      			<span class="tile-title">{{x.Name}}</span>
      			<div class="tile-group">
      				<img src="/img/nobody_m.original.jpg" class="trello-image-profile">
      				<div class="tile-items">
      				<div >
      					<span class="tile-mail">{{x.Mail}}</span>
      				</div>
      				<div>
      					<span>{{x.Department}}</span>
      				</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
    </div>

    <div class="panel panel-primary trello-panel">
      <div class="panel-heading">Group 7</div>
      <div class="panel-body">
      	<div ng-repeat="x in Users| filter : { GroupId : 7}">
      		<div class="tile-container">
      			<span class="tile-title">{{x.Name}}</span>
      			<div class="tile-group">
      				<img src="/img/nobody_m.original.jpg" class="trello-image-profile">
      				<div class="tile-items">
      				<div >
      					<span class="tile-mail">{{x.Mail}}</span>
      				</div>
      				<div>
      					<span>{{x.Department}}</span>
      				</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
    </div>

    <div class="panel panel-primary trello-panel">
      <div class="panel-heading">Group 8</div>
      <div class="panel-body">
      	<div ng-repeat="x in Users| filter : { GroupId : 8}">
      		<div class="tile-container">
      			<span class="tile-title">{{x.Name}}</span>
      			<div class="tile-group">
      				<img src="/img/nobody_m.original.jpg" class="trello-image-profile">
      				<div class="tile-items">
      				<div >
      					<span class="tile-mail">{{x.Mail}}</span>
      				</div>
      				<div>
      					<span>{{x.Department}}</span>
      				</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
    </div>

    <div class="panel panel-primary trello-panel">
      <div class="panel-heading">Group 9</div>
      <div class="panel-body">
      	<div ng-repeat="x in Users| filter : { GroupId : 9}">
      		<div class="tile-container">
      			<span class="tile-title">{{x.Name}}</span>
      			<div class="tile-group">
      				<img src="/img/nobody_m.original.jpg" class="trello-image-profile">
      				<div class="tile-items">
      				<div >
      					<span class="tile-mail">{{x.Mail}}</span>
      				</div>
      				<div>
      					<span>{{x.Department}}</span>
      				</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
    </div>

</div>
</div>